@import "../../../../constants/colors";

.blackNumbers {
  color: black;
}

.greenNumbers {
  color: $textColor1;
}

.redNumbers {
  color: $warn;
}

.accountTableHeader {
  :global {
    .MuiTableRow-root {
      background-color: $mainBackground;

      .MuiTableCell-root {
        &.no-padding {
          padding: 0;
        }

        &.text-align-center {
          text-align: center;
        }

        &.text-align-right {
          text-align: right;
        }

        .MuiTableSortLabel-root {
          &:hover, &.Mui-active {
            color: $mainForeground;

            svg {
              color: $mainForeground;
            }
          }
        }
      }
    }
  }
}
