@import "../../constants/colors";

.textEditFinanceo {
  margin: 0px;
  padding: 0px;
  max-width: 90%;
  text-align: center;
  background-color: $mainForeground;
  color: $textBasic;
  font-size: 16px;
}

.textEditFinanceoInput {
  max-width: 90%;
  text-align: center;
  background-color: $mainForeground;
  color: $textBasic;
  font-size: 16px;
}

.textEditFinanceoInputExceededMaxSize {
  text-align: center;
  color: $warn;
  font-size: 16px;
}

.textEditFinanceoInvalid {
  text-align: center;
  color: $warn;
}
