@import "../../constants/colors";

.textEditFinanceo {
  text-align: center;
  background-color: $mainForeground;
  color: $textBasic;
  font-size: 16px;
}

.textEditFinanceoInput {
  text-align: center;
  background-color: $mainForeground;
  color: $textBasic;
  font-size: 16px;
}

.textEditFinanceoInputExceededMaxSize {
  color: $warn;
  font-size: 16px;
}

.textEditFinanceoInvalid {
  color: $warn;
}
