.textEditFinanceo {
  background-color: white;
  color: black;
  font-size: 16px;
}

.textEditFinanceoInput {
  background-color: white;
  color: black;
  font-size: 16px;
}

.textEditFinanceoInputExceededMaxSize {
  color: red;
  font-size: 16px;
}