$mainBackground: rgba(58, 183, 149, 0.84);
$mainBackgroundLight: #79bba9;
$background: #e8f8ed;
$mainForeground: #ffffffff;
$foreground: #edead0ff;
$warn: #e17b7b;
$error: #ff1616;
$dark: #ffcf56ff;
$superDark: #000000FF;

$textBasic: #000000FF;
$textColor1: #277763;
$textColor2: #51236e;

$ACCOUNT_COLOR: #61be84;
$DEPOT_COLOR: #785d88;
$CREDIT_CARD_COLOR: #587aa1;
