$mainBackground: #3ab795ff;
//$background: #a0e8afff;
$background: #88e8e2;
$mainForeground: #ffffffff;
$foreground: #edead0ff;
$warn: #e17b7b;
$error: #ff1616;
$dark: #ffcf56ff;
$superDark: #000000FF;


$textBasic: #000000FF;


