@import "../../../constants/colors";

.heading {
  margin: 10px;
  padding: 10px;
}

.categoryRow {
  display: flex;
  gap: 25px;
  flex-direction: row;
  align-items: center;
  color: #111111;
}

.iconOfList {
  color: #4f4f4f;
  margin: 8px;

  &:hover {
    cursor: pointer;
    color: $mainBackground;
  }

}

.autoComplete {
  width: 85%;
  margin: 10px
}

.textFieldGrid {
  padding-top: 10px;
}

#categoryList_container {
  max-height: 410px;
  overflow-y: auto;
}

#categoryCreation_container {
  overflow: auto;
}

#categoryName {
  font-weight: 300;
  margin: 5px;
  font-size: 14px;
  transition: .3s;
}

#categoryNameText {
  font-weight: 300;
  margin: 5px;
  font-size: 14px;
  transition: .3s;
}

#categoryNameText:hover {
  cursor: pointer;
  color: $mainBackground;
}

.categoryListInnerContainer {
  padding: 30px;
}
