@import "../../constants/colors";

.accountHead {
  color: white;
  text-align: left;
  //font-weight: bold;
  font-size: 18px;
  
  &:hover {
    cursor: pointer;
  }
}

.accountHeadCenter{
  color: white;
  text-align: center;
  //font-weight: bold;
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }
}

.accountHeadBackground {
  border-bottom: 1px solid lightgrey;
  border-radius: 8px 8px 0px 0px;
  margin-left: 100px;
  background-color: $mainBackground;
}

.accountHeadContent {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
}

.accountHeadContentCenter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.accountType {
  color: $ACCOUNT_COLOR;
}

.depotType {
  color: $DEPOT_COLOR;
}

.creditCardType {
  color: $CREDIT_CARD_COLOR;
}
